* {
    font-size: 16px;
    list-style-type: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    height: 100%;
    margin: 0;
    padding: 0px;
}
body {
    width:100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#header-taskname {
    border: 1px solid #4b4c4f;
    opacity: 1;
}
#header-taskname-edit {
    border: 1px solid #4b4c4f;
    opacity: 1;
}
#to-do-list {
    display: block;
    position: relative;
}
#instruction-video{
    display: block;
}
#statistic{
    display:block;
}
#header {
    display: block;
    margin-bottom: 10px;
}
#add,#save {
    float: right;
    background-color: #3498DB;
    border-radius: 5px;
    color: #F1F1F1;
}

#body {
    display: block;
    margin-bottom: 10px;
    overflow: auto;
}
#task-list {
    display: block;
    margin-bottom: 5px;
}
#done-list {
    display: none;
}
#undone-list {
    display: none;
}
label {
    display: inline-block;
    padding-top:  4px;
    text-overflow:clip;
    width: 50%;
    overflow: hidden;
    height: 90%;
}
input[type="checkbox"] ~ label { 
    padding-left: 1.4em;
    display: inline-block;
}
#footer {
    display: block;
    position: absolute;
}
li {
    display: block;
    position: relative;
    top: 0px;
    padding: 2px;
}
.animation-li {
    animation-name: flash;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes flash {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.animation-input {
    animation-name: flash-input;
    animation-duration: 2s;
}
@keyframes flash-input {
    from {
      color: black;
    }
    to {
      color: white;
    }
}
.edit-button {
    margin-right: 5px;
    float: right;
    height: 80%;
    overflow: hidden;
    background: #4dffa6;
}
.delete-button {
    margin-left: 5px;
    float: right;
    height: 80%;
    overflow: hidden;
    background:  #ff8080;
}
@keyframes change-color {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes change-color {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}
@keyframes list-color {
    from {top: 0px; }
    to { top: -32px; }
}
@-moz-keyframes list-color {
    from {top: 0px; }
    to { top: -32px; }
}
@keyframes disable-color {
    from {background: red; }
    to { background: blue; }
}
@-moz-keyframes disable-color {
    from {background: red; }
    to { background: blue; }
}
.gradient1-color {
    animation-name: disable-color;
    animation-duration: 1s;
    -moz-animation-name: disable-color;
    -moz-animation-duration: 1s;
}
.gradient2-color {
    animation-name: list-color;
    animation-duration: 1s;
    -moz-animation-name: list-color;
    -moz-animation-duration: 1s;
}
.gradient-color{
    animation-fill-mode: forwards;
    animation-name: change-color;
    animation-duration: 1s;
    -moz-animation-name: change-color;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
}


.yes-button {
    margin-right: 5px;
    float: right;
    height: 80%;
    overflow: hidden;
    background: #ff8080;
}
.no-button {
    margin-left: 5px;
    float: right;
    height: 80%;
    overflow: hidden;
    background: #4dffa6;
}
#save-edit {
    display: none;
    margin-bottom: 10px;
}
  
/* li color by nth row*/
ul {
    display: block;
    top:0px;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.delete-button,.yes-button,.no-button,.edit-button {
    border-radius: 5px;
}
  

/* Dropdown style */
.drop-button {
    background-color: #3498DB;
    color: white;
    padding: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.drop-button:hover, .drop-button:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.drop-button {
    background-color: #3498DB;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: none;
    margin: 0;
    cursor: pointer;
}

.drop-button:hover, .drop-button:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    padding: 3px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
#bot {
    width: 100%;
    height: 100%;   
}

@media screen and (min-width: 768px) {
    #body {
        max-height: 53%;
    }
    #to-do-list {
        width: 50%;
        float: left;
        height:100%;
        padding: 10px 5px 10px 10px;
    }
    #instruction-video {
        width: 50%;
        float: right;
        height:50%;
        padding: 10px 10px 10px 5px;
    }
    #statistic {
        width: 50%;
        float: right;
        height:50%;
        padding: 10px 10px 10px 5px;
    }
    #footer {
        bottom: 70px;
    }
}

@media screen and (max-width: 768px) {
    #body {
        max-height: 45%;
    }
    #to-do-list {
        width: 100%;
        float: left;
        height:45%;
        padding: 0px 10px 20px 10px;
    }
    #instruction-video {
        width: 100%;
        float: left;
        height:35%;
        padding: 10px 10px 20px 10px;
    }
    #statistic {
        width: 100%;
        float: left;
        height: 20%;
        padding: 0px 10px 10px 10px;
    }
    #footer {
        bottom: 20px;
    }
}
/* video css */
#video-container {
    width: 100%;
    height:100%;
    position: relative;
    overflow: hidden;
}
  
.videoplayer {
    width: 100%;
    height:100%;
    position: absolute;
} 
  
#control-container {
    position: absolute;
    top: 0;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(54, 52, 52,0.5);
    z-index: 1;
    display: flex;
    animation: controllerMoveUp 0.7s forwards;

}

video {
    object-fit: fill;
}
#instruction-video:hover #control-container {
    animation: controllerMoveDown 0.7s forwards;
}
  
#control-container button {
    background: none;
    border : 0;
    outline: 0;
    cursor: pointer;
    color: #F1F1F1;
    display: inline-block;
    text-align: center;
    font-size: 12x;
    width: 8%;
    -webkit-font-smoothing: antialiased;
    padding: 5px;
}
  
#timeline {
    display: inline-block;
    margin: 10px 5px ;
    width: 70%;
    height: 5px;
    background-color: rgb(2, 2, 2,0.7);
    border-radius: 3px;
    cursor: pointer;
}

#mute-unmute {
    margin-left: 18px;
}
  
#timeline:hover {
    height: 6px;
}
  
  
#timeline:hover .timeline-progress {
    height: 6px;
}
  
.timeline-progress {
    height: 5px;
    width: 0%;
    background-color: rgba(223, 90, 37, 0.7);
    border-radius: 3px;
  }
  /* animation for video-chau */
  @keyframes controllerMoveDown {
    from {
       transform: translateY(-100%);
    }
    to {
       transform: translateY(0%);
    }
}

@keyframes controllerMoveUp {
    from {
       transform: translateY(0%);
    }
    to {
       transform: translateY(-98%);
    }
}